@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif !important;
}

body {
  margin: 0;
}
body header .col-12 {
  width: 100%;
}
body header .col-12 img {
  width: 100%;
}
body header #upper-top {
  padding: 1vw 11.5vw;
  background-color: #f6f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header #upper-top .col-5 .list-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header #upper-top .col-5 .list-links a {
  text-decoration: none;
  color: #8d94ad;
}
body header #upper-top .col-5 .list-links a:hover {
  color: #ca1016;
  transition: 0.4s;
}
body header #upper-top .col-5 .list-links .boss {
  margin-right: 50%;
}
body header #upper-top .col-7 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header #upper-top .col-7 .contact {
  margin-left: 3vw;
}
body header #upper-top .col-7 .contact a {
  text-decoration: none;
  color: black;
}
body header #upper-top .col-7 .contact a:hover {
  color: #ca1016;
  transition: 0.5s;
}
body header #upper-top .col-7 p {
  margin-left: 1vw;
}
body header #upper-top .col-7 .helphelp,
body header #upper-top .col-7 .ru,
body header #upper-top .col-7 .fav,
body header #upper-top .col-7 .profile {
  text-decoration: none;
  color: #8d94ad;
  cursor: pointer;
}
body header #upper-top .col-7 .helphelp:hover,
body header #upper-top .col-7 .ru:hover,
body header #upper-top .col-7 .fav:hover,
body header #upper-top .col-7 .profile:hover {
  color: #ca1016;
  transition: 0.5s;
}
body header nav {
  background-color: #ca1016;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 11.5vw;
  align-items: center;
}
body header nav .combined {
  display: flex;
  align-items: center;
}
body header nav .combined .first .uppercase {
  text-transform: uppercase;
}
body header nav .combined .second .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
body header nav .combined .second .links li {
  color: white;
  text-decoration: none;
}
body header nav .combined .second .links li a {
  color: white;
  text-decoration: none;
}
body header nav .combined .second .links li a:hover {
  color: rgb(214, 152, 152);
  cursor: pointer;
  transition: 0.5s;
}
body header nav .combined .second .links .helper #help {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
body header nav .combined .second .links .helper #help:hover {
  cursor: pointer;
  transition: 0.5s;
  color: rgb(214, 152, 152);
}
body header nav .combined .second .links .auto {
  margin: 0 2vw;
}
body header nav .third button {
  background-color: #7ed321;
  color: white;
  border: 1px solid #7ed321;
  border-radius: 8px;
  padding: 1vw;
  font-weight: 400;
  font-size: 15px;
}
body header nav .third button:hover {
  background-color: #68af1c;
  border: 1px solid #68af1c;
  transition: 0.4s;
  cursor: pointer;
}
body main {
  margin: 0vw 10vw;
  padding-top: 3vw;
}
body main #selections {
  margin-top: -3vw;
  padding: 1vw 1.5vw;
  background-color: #ebedf3;
}
body main #selections .container .row {
  display: flex;
}
body main #selections .container .row .col-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body main #selections .container .row .col-3 select {
  color: #8c8c8c;
  border: 1px solid #ebedf3;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
}
body main #selections .container .row .col-3 .model {
  background-color: white;
  padding: 1vw 7vw;
}
body main #selections .container .row .col-3 .btn-group button {
  background-color: white;
  border: 1px solid #ebedf3;
  color: black;
  padding: 1vw 1.4vw;
  cursor: pointer;
  float: left;
  display: flex;
  border: 1px solid #ebedf3;
  border-radius: 8px;
}
body main #selections .container .row .col-3 .btn-group button:first-child {
  background-color: #ca1016;
  color: white;
}
body main #selections .container .row .col-3 .btn-group button:not(:last-child) {
  border-right: none;
}
body main #selections .container .row .col-3 .btn-group button:focus {
  background-color: #ca1016;
  color: white;
}
body main #selections .container .row .col-3 .btn-group .btn-group:after {
  content: "";
  clear: both;
  display: table;
}
body main #selections .container .second-row {
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
}
body main #selections .container .second-row .first {
  display: flex;
  flex-direction: column;
}
body main #selections .container .second-row .first form {
  display: flex;
}
body main #selections .container .second-row .first form input {
  width: 9vw;
  border: 1px solid #ebedf3;
  text-align: center;
  border-radius: 8px;
}
body main #selections .container .second-row .second-col select {
  padding: 1vw;
  border: 1px solid #ebedf3;
  border-radius: 8px;
  cursor: pointer;
  color: black;
}
body main #selections .container .second-row .second-col button {
  padding: 1vw 1.2vw;
  background-color: white;
  color: black;
  border: 1px solid #ebedf3;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 0.6vw;
}
body main #selections .container .second-row .second-col button:focus {
  border: 1px solid #ca1016;
  background-color: rgb(234, 174, 174);
  color: #ca1016;
  transition: 0.5s;
}
body main #selections .container .second-row .col-3 .select-default {
  padding: 1vw 6vw;
}
body main #selections .container .second-row .last .col-3 select {
  padding: 1vw 2vw;
  cursor: pointer;
}
body main #selections .container .second-row .last .col-3 #min {
  margin-right: 1.5vw;
}
body main #selections .container .second-row .last .col-3 #max {
  margin-left: 1.5vw;
}
body main #selections .container .third-row {
  padding: 1vw;
  display: flex;
  align-items: center;
}
body main #selections .container .third-row .col-7 p a {
  text-decoration: none;
  color: #4c88f9;
  cursor: pointer;
}
body main #selections .container .third-row .col-5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #selections .container .third-row .col-5 a {
  text-decoration: none;
  color: #ca1016;
}
body main #selections .container .third-row .col-5 .zero {
  margin-left: 3vw;
}
body main #selections .container .third-row .col-5 .button {
  background-color: #ca1016;
  color: white;
  border: 1px solid #ca1016;
  border-radius: 8px;
  padding: 1vw 3vw;
}
body main #selections .container .third-row .col-5 .button:hover {
  background-color: #950c10;
  border: 1px solid #950c10;
  transition: 0.4s;
}
body main #vip {
  padding: 1vw 1.7vw 0 1.7vw;
  background-color: rgba(241, 243, 247, 0.2352941176);
}
body main #vip .container .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main #vip .container .row .col-5 a {
  margin-left: 0.7vw;
  width: 20%;
}
body main #vip .container .row .col-5 a img {
  width: 100%;
}
body main #cars {
  margin-top: 0.7vw;
  background-color: #f1f2f4;
}
body main #cars .container .row {
  display: flex;
}
body main #cars .container .row .col-3 a {
  text-decoration: none;
}
body main #cars .container .row .col-3 a .card {
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 1.3vw;
  position: relative;
  background-color: white;
}
body main #cars .container .row .col-3 a .card img {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: -20px;
}
body main #cars .container .row .col-3 a .card .car-info {
  margin-top: -0.8vw;
  padding: 0.1vw 1vw 0.2vw 1vw;
  color: black;
  text-decoration: none;
}
body main #cars .container .row .col-3 a .card .car-info h4 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: -0.9vw;
}
body main #cars .container .row .col-3 a .card .car-info p {
  font-weight: 400;
  font-size: 19px;
}
body main #cars .container .row .col-3 a .card .car-info .first-child,
body main #cars .container .row .col-3 a .card .car-info .date {
  margin-bottom: -0.9vw;
}
body main #cars .container .row .col-3 a .card .car-info .last-child {
  font-size: 19px;
  font-weight: 300;
}
body main #cars .container .row .col-3 a .card .arrow {
  position: relative;
  top: 15px;
  left: 15px !important;
  color: white;
  background-color: #76c81c;
  border: 1px solid #76c81c;
  border-radius: 50%;
  padding: 2px;
}
body main #cars .container .row .col-3 a .card .heart {
  position: relative;
  top: 15px;
  left: 190px;
  color: darkgray;
  font-size: 18px;
}
body main #cars .container .row .col-3 a .card .salon {
  position: relative;
  top: 150px;
  left: -35px;
  color: white;
  background-color: #4c39ce;
  display: inline;
  font-weight: 500;
  padding: 3px 8px;
  border: 1px solid #4c39ce;
  border-radius: 8px;
}
body main #cars .container .row .col-3 a .card .star {
  position: relative;
  top: 150px;
  left: 100px;
  color: red;
  background-color: white;
  padding: 3px;
  border: 1px solid white;
  border-radius: 20px;
}
body main #cars .container .row .col-3 a .card:hover {
  box-shadow: 8px 8px 5px rgba(181, 171, 171, 0.2901960784);
  border-radius: 15px;
  transition: 0.7s;
}
body aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
body aside .image-container img {
  width: 10%;
  float: left;
}
body aside .image-container .right {
  float: right;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.select-default {
  padding: 1vw 6vw;
}

.input-default {
  padding: 1vw 0;
}/*# sourceMappingURL=index.css.map */